In [3]:
print("Hello WOrld")

Hello WOrld

# My first Hello World in Python

In [7]:
x = 5

if x < 3:
    print("YES")
else:
print("No")

IndentationError: expected an indented block after 'else' statement on line 5 (3135326827.py, line 6)

In [8]:
"""
This is first comment
This is my second comment
"""

print("my comments")

my comments

In [9]:
#integer
age = 25

#float
temperature = 25.5

#string
greet = "Hello World"

In [11]:
print("Age: ", age)

Age:  25

In [12]:
print("Temperature: ", temperature)

Temperature:  25.5

In [13]:
print("Greet: ", greet)

Greet:  Hello World

In [14]:
print(type(age))
print(type(temperature))
print(type(greet))

<class 'int'>
<class 'float'>
<class 'str'>

In [15]:
age = input("HOw old are you")
height = input("How tall are you?")
weight = input("HOw much do you weight?")

print(f"So your age is {age}, height is {height}, weight is {weight}")

HOw old are you 32
How tall are you? 159
HOw much do you weight? 70

So your age is 32, height is 159, weight is 70

In [16]:
fruits = ["apple", "banana", "cherry"]
print(fruits[0])

apple

In [17]:
print(fruits[2])

cherry

#Tuples

In [19]:
coordinates = (10,20)
print(coordinates[0])

10

In [20]:
print(coordinates[1])

20

In [21]:
person = {"name": "Alice", "age": 25}
print(person["name"])

Alice

In [22]:
person["age"] = 26
print(person)

{'name': 'Alice', 'age': 26}

In [23]:
for x in fruits:
    print(x)

apple
banana
cherry

# Function

In [28]:
def multiply(x,y):
    return 5 * x + y
print(multiply(3,2))
print(multiply(5,2)) 
print(multiply(9,3))

17
27
48